html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    background: #11447b url(../imgs/background.jpg) top left no-repeat;
    background-size: 100% auto;
}

#maket {
    width: 1024px;
    margin: 0px auto 0px auto;

}

#logo {
    background: url(../imgs/logo.png) center left no-repeat;
    width: 200px;
    height: 125px;
    float: left;
}

#auth, #basket {
    float: right;
}

#main {
    clear: both;
    position: relative;
}

#auth {
    padding: 35px 20px 125px;
    line-height: 20px;
}

#auth a {
    color: #fff;
    font-size: 16px;
    padding: 0px 20px;
}

#auth a:first-child {
    border-right: 1px solid #fff;
}

#basket {
    background: #fff url(../imgs/basket.png) 20px center no-repeat;
    padding: 10px 20px 10px 75px;
    margin-top: 25px;
}

#basket span {
    color: #4d4d4d;
    font-size: 26px;
}

#basket button {
    background: url(../imgs/button-grad.png) left center repeat-x;
    color: #fff;
    border: none;
    padding: 7px 8px;
    border-radius: 7px;
    margin-left: 20px;
}

#basket * {
    line-height: 30px;
}

#left-sidebar {
    width: 292px;
    float: left;
}

#left-sidebar ul {
    height: 50px;
}

#left-sidebar ul li {
    float: left;
    height: 35px;
    width: 32%;
    border-left: 1px solid #fff;
}

#left-sidebar ul li:first-child {
    border-left: none;
}

#left-sidebar li span {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    display: block;
    padding-left: 22px;
}

#left-sidebar li span:first-child {
    font-size: 14px;
    font-weight: normal;
}

#time {
    background: #10447b;
    font-size: 20px;
    color: #fff;
}

#time .timer, #time .labels {
    padding: 5px 0 5px 60px;
}

#time h5 {
    font-size: 14px;
    color: #fff;
}

#time span {
    width: 12%;
    display: block;
    float: left;
}

#time div:first-child {
    height: 40px;
}

#time .labels {
    font-size: 14px;
    background: #2366b0;
    height: 15px;
}

#time .labels span {
    width: 24%;
}

#basket-link {
    clear: both;
}

#basket-link .price {
    display: block;
    background: #144c88;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

#basket-link .basket-link-container {
    background: url(../imgs/yellow-arrow.png) left top no-repeat;
    width: 247px;
    height: 68px;
    display: block;
    margin-left: -55px;
    padding: 20px 0 0 100px;
}

#basket-link .basket-link-container button {
    background: url(../imgs/button-blue.png) left top no-repeat;
    width: 208px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 0;
    cursor: pointer;
}

#socials {
    text-align: center;
    background: #134a85;
    padding: 10px 0;
}

#socials h5 {
    font-size: 14px;
    color: #fff;
}


#socials span a {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 10px;
}


#socials .fb a {
    background: url(../imgs/fb.png) center center;
}

#socials .twitter a {
    background: url(../imgs/twitter.png) center center;
}

#socials .email a {
    background: url(../imgs/email.png) center center;
}

#subscribers {
    padding: 10px;
    background: #fff;
    height: 368px;
}

#map {
    background: #fff;
}

#content {
    margin-left: 292px;
    background: url(../imgs/header_back.png) top right no-repeat;
}

#content h1 {
    color: #195390;
    font-size: 26px;
    padding: 0 20px 20px;
    font-weight: bold;
    margin: 0 260px 0 0;
    line-height: 20px;
    height: auto;
}

#content .bookmarks {
    position: relative;
    top: -46px;
}

#content .bookmarks li {
    list-style: none;
    float: left;
    width: 180px;
    background: #fff url(../imgs/back_grey_bookmark.png) bottom left repeat-x;
    margin-right: 2px;
}

#content .bookmarks li a {
    display: block;
    color: #3c3c3c;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

#content .bookmarks li a.active {
    background: url(../imgs/back_active_bookmark.png) top left no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

#content .bookmarks li.first {
    border-radius: 10px 0 0 0;
}

#content .bookmarks li.last {
    border-radius: 0 10px 0 0;
}

#content .article {
    background: #fff;
    padding: 20px;
    margin-top: -1px;
}

#content p {
    color: #5e5e5e;
    font-size: 15px;
    line-height: 20px;
    width: 450px;
    padding: 20px 0;
}

#content .photo {
    float: left;
    margin: 0 10px 10px 0;
}

#content .contacts > div:first-child {
    font-size: 25px;
    color: #2e2b2b;
    padding: 10px;
}

#right-sidebar {
    position: absolute;
    top: 45px;
    right: 20px;
    width: 200px;
}

#right-sidebar h3,
#right-sidebar h4 {
    color: #195390;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

#right-sidebar h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

#right-sidebar li ul li {
    float: left;
    width: 33.3%;
}

#right-sidebar li img {
    width: 80px;
    float: left;
}

#right-sidebar li ul li span {
    display: block;
}

#right-sidebar li ul li span:first-child {
    color: #195390;
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 5px;
}

#right-sidebar li ul  {
    padding-bottom: 10px;
    height: 37px;
}

#right-sidebar > ul > li  {
    padding-bottom: 20px;
    clear: both;
    height: 125px;
    position: relative;
}


#right-sidebar > ul > li div > div {
    background: url(../imgs/clock.png) top center no-repeat;
    position: absolute;
    right: 40px;
    top: 70px;
    width: 70px;
    padding-top: 30px;
}


#right-sidebar > ul > li div > div span {
    white-space: nowrap;
}

#right-sidebar > ul > li div > div span:first-child {
    display: block;
    color: #aaa;
}

footer {
    position: relative;
}

footer .info {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

footer .socials a {
    width: 22px;
    height: 22px;
    float: left;
    display: block;
    margin-left: 5px;
}

footer .socials {
    position: absolute;
    top: 18px;
    right: 0;
}

footer .socials a.facebook {
    background: url(../imgs/fb_white.png) left top no-repeat;
}

footer .socials a.twitter {
    background: url(../imgs/twitter_white.png) left top no-repeat;
}

footer .socials a.youtube {
    background: url(../imgs/youtube_white.png) left top no-repeat;
}

